*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #30475e;
    min-height: 18vh;
    color: #ddd;
}

h1{
    font-size: 2.2vmax;
    font-family: Helvetica;
}

a{
    text-decoration: none;
    color: #ddd;
}

a:hover{
    color: rgba(221, 221, 221, 0.8);
    font-style: italic;
}

ul{
    list-style: none;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 35px;
}

.item{
    display: grid;
    grid-template-columns: auto-fill auto-fill auto-fill;
    grid-template-rows:  2fr;
    grid-gap: 15px;
}

.sections{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    align-items: center;
}


/**********************     HOM MAPA **********************/
