*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #30475e;
    min-height: 18vh;
}

h1{
    color: #ddd;
}

a{
    text-decoration: none;
    color: #DDD;
}

ul{
    list-style: none;
}

.Grid{
    display: flex;
    justify-content: center;
}

.item{
    border: 1px solid beige;
    display: grid;
    grid-template-columns: auto-fill auto-fill;
    grid-template-rows:  2fr;
    grid-gap: 15px;
}